:root{
    --bg-secundario: rgb(18, 18, 75);
}

/*INDEX.HTML*/
.fondo{
    background-image: url(/img/ba1.jpg); 
    height: 650px;
    background-size: cover;
}
.fondo-oscuro{
    background: rgba(0, 0, 0, 0.5);
    filter:  alpha(opacity=50);
    height: 650px; 
}
.caja{
    height: 550px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding: 10px;
    grid-auto-rows: minmax(50px, auto);
    align-content: center;
}
.caja1{
    grid-column: 3;
    grid-row: 2;
    text-align:start;
    align-self: flex-end;
    padding-left: 0.5rem;
    margin-bottom: -3px;
}
.caja2{
    grid-column: 3;
    grid-row: 3;
    text-align: end;
    padding-right: 1rem;
}
.caja3{
    grid-column: 3;
    grid-row: 4;
}

/*TICKETS.HTML*/
/*ACA EMPIEZA EL CSS DE LA CAJAS*/
.box{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    align-content: center;
}

.box1{
    border: 2px solid #0d6efd;
    grid-column: 2;
    width: auto;
}
.box2{
    border: 2px solid #20c997;
    grid-column: 3;
    width: auto;
}
.box3{
    border: 2px solid #ffc107;
    grid-column: 4;
    width: auto;
}
/*ACA EMPIEZA EL CSS DEL FORM*/
.contenedor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(auto, auto);
}
.input-nombre{
    grid-column: 2;
}
.input-apellido{
    grid-column: 3;
}
.input-correo{
    grid-row: 2;
    grid-column: 2/4;
}
.select-cantidad{
    grid-row: 3;
    grid-column: 2;
}
.select-categoria{
    grid-row: 3;
    grid-column: 3;
}
.div-tot{
    display: inline-flex;
    grid-row:4;
    grid-column:2/4;
    border:1px solid #0d6dfd18;
    border-radius: 3px;
    margin-top: 15px;
    padding: 12px;
    background-color:#0d6dfd2a;
}
.div-total{
    display: inline-flex;
    margin-left: 5px;
    width: 50%;
    color: #0e61dd;
    font-weight: 500;
}
.div-pago{
    display: inline-flex;
    width: 50%;
}
.btn-borrar{
    grid-row: 5;
    grid-column: 2;
    margin-top: 15px;
}
.btn-resumen{
    grid-row: 5;
    grid-column: 3;
    margin-top: 15px;
}
.btn-pagar{
    grid-row: 6;
    grid-column: 2/4;
    margin-top: 10px;

}
.total{
    color: #0e61dd;
    font-weight: 500;    
}


/**/
.formInputError {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}
.formValidacionEstado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

/**/

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

/*BREAKPOINT LG*/
@media screen and (max-width: 992px){
    .fondo{
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
    }
    .fondo-oscuro{
        height: 500px;
    }
    .li-size{
        text-align: center;
    }
    .caja{
        height: 400px;
        grid-template-columns: repeat(2, 1fr);    
    }
    .caja1 {
        grid-column: 2;
        grid-row:2;
    }
    .caja2{
        grid-column: 2;
        grid-row:3;
    }
    .caja3{
        grid-column: 2;
        grid-row:4;
        align-self: end;
    }
}

/*BREAKPOINT MD*/
@media screen and (max-width: 768px){
    .fondo{
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;
    }
    .fondo-oscuro{
        height: 400px;
    }
    .caja{
        height: 300px;
        grid-template-columns: repeat(2, 1fr);    
    }
    .caja1 {
        grid-column: 2;
        grid-row:1;
    }
    .caja2{
        grid-column: 2;
        grid-row:2;
        font-size: 0.9rem;
    }
    .caja3{
        grid-column: 2;
        grid-row:3;
        align-self: end;
    }

    .box{
        grid-template-columns: repeat(1, 1fr);   
    }
    .box1{
        grid-column: 1;
        grid-row:1;
        width:auto;
    }
    .box2{
        grid-column: 1;
        grid-row:2;
        width: auto;
    }
    .box3{
        grid-column: 1;
        grid-row:3;
        width: auto;
    }
    .contenedor{
        grid-template-columns: repeat(3, 1fr);
    }
    .input-nombre{
        grid-column: 2;
        grid-row:1;
        width:400px;
    }
    .input-apellido{
        grid-column: 2;
        grid-row:2;
        width:400px;
    }
    .input-correo{
        grid-column: 2;
        grid-row:3;
        width:400px;
    }
    .select-cantidad{
        grid-column: 2;
        grid-row:4;
        width:400px;
    }
    .select-categoria{
        grid-column: 2;
        grid-row:5;
        width:400px;
    }
    .div-tot{
        grid-column: 2;
        grid-row:6;
    }

    .btn-borrar{
        grid-row: 7;
        grid-column: 2;
    }
    .btn-resumen{
        grid-row: 8;
        grid-column: 2;
    }
    .btn-pagar{
        grid-row: 9;
        grid-column:2;
    }
}

/*BREAKPOINT XS & SM*/
@media screen and (max-width: 615px){
    .fondo{
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 385px;
    }
    .fondo-oscuro{
        height: 385px;
    }
    .caja{
        height: 300px;
        grid-template-columns: 1fr;    
    }
    .caja1 {
        grid-column: 1;
        grid-row:1;
        align-self: end;
        justify-self: self-end;
        padding-right: 1rem;
    }
    .caja2{
        grid-column: 1;
        grid-row:2;
        font-size: 0.9rem;
    }
    .caja3{
        grid-column: 1;
        grid-row:3;
        align-self: end;
        justify-self: self-end;
        padding-right: 1rem;
    }
}